<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTCompleteMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TTImport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TTUISource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TTUISource.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TeatimeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>984F1CA31DB5BACC0046C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984F1CC91DB5C2250046C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984F1CE91DB5D0620046C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984F1CFF1DB5D0900046C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CF51931DB5F01100908D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CF51A91DB5F0FF00908D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
